.nav{
    background-color: rgb(0, 164, 185);
}
.nav a{
    color: rgb(255, 255, 255);
}
.navigation> .nav>a:hover{
    background-color:rgb(255, 208, 0);
    color: rgb(255, 0, 0);
}
.quick-access{
    margin-top: 170px;
    margin-left: 450px;
}
.quick-access>.part-1>a{
    text-decoration: none;
}
.quick-access>.part-2>a{
    text-decoration: none;
}
.tab-1, .tab-2, .tab-3, .tab-4{
    height: 50px;
    width: 600px;
    background-color: rgb(54, 8, 160);
    color: white;
    padding: 40px;
    margin-bottom: 14px;
}
.tab-1, .tab-2, .tab-3, .tab-4>p{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    padding: 7px;
}
.tab-1:hover{
    background-color: rgb(255, 208, 0);
    width: 650px;
    transition-duration: 2s;
}
.tab-2:hover{
    background-color: rgb(255, 208, 0);
    width: 650px;
    transition-duration: .3s;
}
.tab-3:hover{
    background-color: rgb(255, 208, 0);
    width: 650px;
    transition-duration: 2s;
}
.tab-4:hover{
    background-color: rgb(255, 208, 0);
    width: 650px;
    transition-duration: 2s;
}
.img-faculty{
    width: 200px;
    height: 200px;
}
.faculty{
    width: 100%;
    height: 60px;
}
.faculty >div{
    float: left;
}
.universal{
    margin-top: 20px;
    margin-left: 100px;
}
section>div{
    display:inline-block;
    margin-bottom: 200px;
}
.img1{
    background-color:wheta;
}